.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: rgb(68, 66, 66);

  scroll-behavior: smooth;
  font-size: 2rem;
  color: white;
}
.nav{
  font-size: large;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-15px) scale(2.5);
}

/* .foreground {
  transform: translateZ(0px) scale(1.5);
} */

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  text-shadow: 0 0 5px black;
  text-align: center;
}

.component-title {
  text-shadow: 0 0 5px rgb(37, 35, 35);
  font-family: 'Black-Ops-One';
}

.component {
  background-color: rgb(68, 66, 66);
  padding-top: 25px;
}
.contact {
  background-color: rgb(40, 39, 39);
  padding-top: 25px;
}
.copyright {
  text-align: center;
  font-size: small;
}
#aboutComponent,
#home,
#projectComponent,
#contactComponent{
  scroll-margin-top: 40px;
}
form{
  color: black;
  font-size: small;
  margin-top: 2vw;
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 50px black;
  width: 45px;
  height: 45px;
  border-bottom: 5px solid rgb(185, 182, 182);
  border-right: 5px solid rgb(185, 182, 182);
  z-index: 9;
  left: 47%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation:    fade_move_down 2s ease-in-out infinite;
  animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/*project*/
.embed-responsive-item {
    height: 600px;
    width: 1000px;
}

.btn {
  transition: 250ms ease-in-out;
}

.btn:hover {
  transform: translateY(-5px);
}

/* Small Screens max width 640px */
@media screen and (max-width: 991px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 50px;
    width: 50px;
  }
  .skills{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .aboutText{
    font-size: small;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .nav{
    display: flex;
    flex-direction: row-reverse;
  }
  form{
    margin-bottom: 10vw;
  }
}

@media screen and (min-width: 992px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 100px;
    width: 100px;
  }
  .skills{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .aboutText{
    font-size: large;
  }
  .title {
    max-width: 40vw;
  }
  .profile {
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }
  .about{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .aboutTextBlock{
    max-width: 40vw;
  }
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form{
    width: 40vw;
  }
  .contactContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.skillsGrid {
  background-color: rgb(153, 154, 155);
  border-radius: 5px;
  box-shadow: 40px -20px 15px rgba(133, 133, 133, 0.423);
}
